@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --color-text:#111111;
    --color-base:#f5f5f5;
    --color-base2:#820ad1;
    --color-bg:#fefefe;

    --font-one:'Shadows Into Light', sans-serif;
    --font-two:'Caveat', sans-serif

}
.topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--color-base2) , var(--color-base));
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    background-color: var(--color-base2);
    font-family: var(--font-two);
    color: var(--color-base);
    margin: 0.5rem;
    padding: 0.2rem;
    text-justify: auto;
}
.topo .intro{
    font-size: 2rem;
}
.topo .frase{
    font-size: 2rem;
    margin-top:1rem;
    color: var(--color-text);
}
.icone{
    height: 2.4rem;
}
.corpo{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 1rem; */
    padding: 1rem;
}
.depoimentos-corpo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 3rem;
}
.corpo .card1 {
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
  padding: 1rem;
  /* margin: 1rem; */
  width: 40em;
  height: 24em;
  transition: all 0.3s ease-out;
}
.corpo .card__imagem {
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    padding: 1rem;
    /* margin: 1rem; */
    width: 30rem;
    height: 24rem;
    transition: all 0.3s ease-out;
}
  .corpo .card__imagem__mari {
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    padding: 2rem;
    /* margin: 1rem; */
    width: 17rem;
    height: 22rem;
    transition: all 0.3s ease-out;
}
.card__mari {
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    padding: 2rem;
    /* margin: 1rem; */
    width: 50rem;
    height: 22rem;
    transition: all 0.3s ease-out;
}
.big-title{
    font-family: var(--font-one);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}
.nome-lista{
    list-style: disc inside url('Assets/catIco.png');
    font-family: var(--font-one);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem;
    text-align: justify;
}
.item-lista{
    font-family: var(--font-two);
    font-size: 1.2rem;
    font-weight: 100;
}

.buttons{
    display: flex;
    flex-direction: column;
    padding: 0 5rem 0 5rem;
    height: 22em;
    justify-content: space-between;
    
}
.botao-off{
    border: none;
    border-radius: 40% ;
    margin: none;
    background-color: var(--color-base2);
    opacity: 50%;
}
.botao-off:hover{
    opacity: 100%;
}
.botao-on{
    border: none;
    border-radius: 40% ;
    margin: none;
    background-color: var(--color-base2);
    opacity: 100%;
}
.rosto-buttons{   
    border-radius: 40%;
    width: 6rem;
    height: 6rem;
}
.rosto-buttons-on{
    border-radius: 40%;
    width: 6rem;
    height: 6rem;
}
.hide{
    display: none;
}
.ativa{
    width: 65em;
}

.corpo .card__creditos {
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    padding: 1rem;
    /* margin: 1rem; */
    width: 25em;
    height: 24em;
    transition: all 0.3s ease-out;
}

.corpo .card__agradecimentos {
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    padding: 1rem;
    /* margin: 1rem; */
    width: 45em;
    height: 24em;
    transition: all 0.3s ease-out;
}

  

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    bottom: 1%;
}
.pages{
    display: flex;
    width: 20%;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--color-base);
    background-color: var(--color-base);
    box-shadow: 0.1rem 0.2rem 0.5rem 0px var(--color-base2);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 1.3rem;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-two);
    font-weight: 600;
}
.pages:hover {
  -webkit-animation: swing 1s ease;
  animation: anime-balanco 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@keyframes anime-balanco {
   15% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



